extends layout

block title
  title Add article

block content
  h3 Markdown editor
  if posted
    h4 Article posted
  if error
    h4 Error: #{error}
  form(action='', method='post')
    input(type='text', name='title', placeholder='Title')
    textarea.markdown-edit(name='markdown')
    input(type='submit' value='Post')
  
