extends layout

block title
  if mdArticle
    title= mdArticle.title
  else
    title Xtreme

block content
  if mdArticle
    h1.article-title= mdArticle.title
    a(href=mdArticle.slug, class='delete-link', data-method='delete') Delete
    != mdArticle.renderedHtml
  else
    h2 Markdown Easy CMS
    p Why dont you add an article?
  
